name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      # 1. Empaquetamos la aplicación saltando los tests por defecto
      # (Esto evita el error de conexión a base de datos)
      - name: Build with Maven
        run: mvn -B package -DskipTests --file pom.xml

      # 2. Ejecutamos ESPECÍFICAMENTE tu test unitario blindado
      # (Este sí pasará porque usa Mocks y no necesita PostgreSQL real)
      - name: Run Auth Unit Tests
        run: mvn test -Dtest=AutenticacionServiceTestDtest=AutenticacionServiceTest